<div>
    <nav class="navbar navbar-expand-lg navbar-light bk-light">
        <a class="navbar-brand d-none d-md-block" href="#"><img src="./assets/images/navbar-logo.svg" height="40px"></a>
        <a class="navbar-brand d-md-none" href="#"><img src="./assets/images/navbar-icon.svg" height="40px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a [routerLink]="['/home']" class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a [routerLink]="['/about']" class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a [routerLink]="['/projects']" class="nav-link" href="#">Projects</a></li>
                <li class="nav-item"><a [routerLink]="['/connect']" class="nav-link" href="#">Connect</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

